<style>
    body {
        padding: 50px;
    }
</style>

<div id="message"></div>
<div id="toHide">
    <h1>Delete Data</h1>
    <p>Delete all data stored in the database</p>
    <form action="#">
        <button type="button" class="btn btn-danger" id="start-aprs" onclick='deleteData()'>DELETE</button>
    </form>
</div>

<script>
function deleteData() {
    if(confirm("Do you want to delete all data?")){
        $.post("/drop").done(() =>{
            $('#toHide').hide();
            $('#message').text("All data deleted, going back to the main page...")
            setTimeout(() =>{
                window.location.href = "/"
            }, 3000)
        })
    }else{

    }
}
</script>